@media screen and ( min-width: 992px )
    .header
    
        &__firstArticle
            display: flex
            flex-direction: column
            justify-content: center
            align-content: flex-start
            align-items: flex-start
            width: 40%
            height: 60vh
            padding-left: 50px

        &__secoundArticle
            width: 60%
            height: 60vh
            background-position: -10px

        &__circle
            width: 350px
            height: 350px
            top: 2%
            left: -10%
        
