@media screen and ( min-width: 992px )
    .header
        width: calc(((100% - 1140px) / 2) + 1140px)
        margin: 0 0 0 auto
    
        &__firstArticle
            display: flex
            flex-direction: column
            justify-content: center
            align-content: flex-start
            align-items: flex-start
            width: 40%
            height: 60vh
            padding-left: 0

        &__secoundArticle
            width: 60%
            height: 60vh
            background-position: -10px

        &__circle
            width: 350px
            height: 350px
            top: 2%
            left: -10%

    .aboutUs
        display: flex
        flex-direction: row

        &__firstArticle
            width: 50%
            grid-row-gap: 30px
            grid-column-gap: 30px

        &__secoundArticle
            width: 50%
            display: flex
            flex-direction: column
            justify-content: center
            align-content: flex-start
            align-items: flex-start
            padding-left: 5vw

        &__headingTwo
            font-weight: bold

        &__paragraphLong
            max-width: 500px

        &__square
            left: -35%
            top: 30%
            height: 400px
            width: calc(((100%) / 1.7) + 390px)

        &__box
            width: 100%

    .informationFirst
        flex-direction: row
        max-width: 1200px
        margin: 0 auto

        &__firstArticle
            width: 50%

        &__secoundArticle 
            width: 40%
            height: 60vh

        &__headingTwo
            font-size: 5rem

        &__circle
            width: 370px
            height: 370px
            top: -20%
            left: 80%
        
        &__square
            height: 200px
            width: 80vw
            left: -30%
            top: 50%

    .informationSecound
        flex-direction: row
        max-width: 1200px
        margin: 0 auto

        &__firstArticle
            width: 50%
            padding-left: 0rem

        &__secoundArticle 
            width: 40%
            height: 60vh

        &__square
            top: 8%

        &__circle
            width: 270px
            height: 270px
            top: 72%
            left: -5%

    .team
        width: 90vw

        &__headingThree
            font-size: 5rem

        &__article
            display: flex
            flex-direction: row
            flex-wrap: wrap
        
        &__box
            display: flex
            flex-direction: row
            width: 40%
            margin: 0 auto

            &--largeMarginTop
                margin-top: 5rem

        &__imageBox
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: center
            width: 45%

        &__textBox
            padding-left: 2.9rem
            width: 60%
            text-align: left

        &__square
            width: 120vw
            height: 200px
            top: 40%
            left: -20vw
        
    .branding
        min-height: 80vh
        max-height: 80vh

        &__article
            width: 40%
            max-width: 600px
            padding: 4rem 4rem
            margin: 0 15rem
            background-color: #292D33
            color: white

    .statistic

        &__square
            top: 46%

    .strengths
        text-align: center

    .adventage
        display: flex
        flex-direction: row
        justify-content: center
        padding: 5rem 2rem 15rem
        position: relative
        max-width: 1300px
        margin: 0 auto

        &__box
            margin: 5rem 0rem

            &--firstArticle
                text-align: right
                padding-right: 5rem

            &--thirdArticle
                padding-left: 5rem

        &__firstArticle,
        &__secoundArticle,
        &__thirdArticle
            width: 33.33%

        &__secoundArticle
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            align-content: center
            margin: auto 0
            
        &__box
            height: 28%

        &__squareFirst
            width: 100vw
            height: 10%
            background-color: $yellow
            position: absolute
            left: -20vw
            top: 30%
            z-index: -1

        &__squareSecound
            width: 100vw
            height: 10%
            background-color: $yellow
            position: absolute
            left: 20vw
            top: 0%
            z-index: -1

        &__squareThird
            width: 100vw
            height: 10%
            background-color: $yellow
            position: absolute
            top: 60%
            left: 20vw
            z-index: -1

        &__squareFourth
            width: 100vw
            height: 10%
            background-color: $yellow
            position: absolute
            top: 90%
            left: -20vw
            z-index: -1

        



        

   
