@media screen and ( min-width: 767px )
    .header
        display: flex
        flex-direction: row
        padding: 0rem
    
        &__firstArticle
            display: flex
            flex-direction: column
            justify-content: center
            align-content: flex-start
            align-items: flex-start
            width: 60%
            height: 60vh
            padding-left: 6vw

        &__secoundArticle
            width: 50%
            height: 60vh
            background-position: -10px

        &__circle
            width: 300px
            height: 300px
            top: 0%
            left: -15%

    .aboutUs

        &__firstArticle
            display: grid
            grid-template-columns: repeat(10, 1fr)
            grid-row-gap: 50px
            grid-column-gap: 0px

        &__box--one
            grid-column: 1 / span 5
            grid-row: 1 /span 2

        &__box--two
            grid-column: 6 / span 5
            grid-row: 2 /span 2

        &__box--three
            grid-column: 1 / span 5
            grid-row: 3 /span 2

        &__box--four
            grid-column: 6 / span 5
            grid-row: 4 /span 2

        &__square
            width: 55vw
            height: 550px
            background-color: $yellow
            z-index: -1
            position: absolute
            top: 15%
            left: 0

        &__box
            width: 85%
            margin: 0 auto

    .informationFirst
        flex-direction: row

        &__firstArticle
            width: 50%
            display: flex
            flex-direction: column
            justify-content: center
            align-content: flex-start
            align-items: flex-start

        &__secoundArticle 
            width: 50%

        &__headingTwo
            font-size: 4rem

        &__circle
            width: 350px
            height: 350px
            background-color: $yellow
            position: absolute
            border-radius: 50%
            top: -20%
            left: 70%

    .informationSecound
        flex-direction: row

        &__firstArticle
            width: 50%
            display: flex
            flex-direction: column
            justify-content: center
            align-content: flex-start
            align-items: flex-start
            padding-left: 3rem
            order: 1

        &__secoundArticle
            width: 50%
            order: 0

        &__circle
            top: 72%
            left: -10% 

    .team
        width: 90vw

        &__headingThree
            font-size: 4rem
        
        &__box
            display: flex
            flex-direction: row

        &__imageBox
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            align-items: center
            width: 40%

        &__textBox
            padding-left: 5rem
            width: 60%
            text-align: left

        &__square
            top: 20%

    .statistic

        &__box
            margin-top: 4rem
            text-align: center
            width: 25%

        &__square
            width: 150vw
            height: 150px
            position: absolute
            background-color: $yellow
            top: 43%
            left: -25vw
            z-index: -1

        &__paragraphNumber
            font-size: 8rem

    .contact
        width: 100vw
        background-color: black
        padding: 5rem 0rem 0rem

        &__wrapper
            max-width: 1200px
            margin: 0 auto
            display: flex

        &__firstArticle
            padding: 0rem 2rem
            width: 90%
            align-content: flex-start
            align-items: flex-start