@media screen and ( min-width: 767px )
    .header
        display: flex
        flex-direction: row
        padding: 0rem
    
        &__firstArticle
            display: flex
            flex-direction: column
            justify-content: center
            align-content: flex-start
            align-items: flex-start
            width: 55%
            height: 60vh

        &__secoundArticle
            width: 60%
            height: 60vh
            background-position: -10px

        &__circle
            width: 300px
            height: 300px
            top: 0%
            left: -15%
        